#header h1, .wrapper h2, .wrapper h3 {
	color: #d9003f;
}

.container a {
	font-weight: 700;
}

.container a, #header nav > ul > li a:hover, #footer a:hover {
	color: #82cfc9;
	text-decoration: none;
}

.container a:hover {
	text-decoration: underline;
}

span.md-center {
	text-align: center;
	width: 100%;
	display: inline-block;
}